ByteTrack/
ByteTrack_ReID/
vehicle-counting-result.mp4
vehicle-counting-result2.mp4
yolov8x.pt
runs/
auxi.mp4
.ipynb_checkpoints/
yolov8x.pt
runs/
yolov8s.pt
yolov8l.pt
res-01-US.mp4
dataset/
.Cherry Notes~/
.Cherry Notes~~/
.Cherry Notes~~~/
COCO-Dataset-18/
Cherry Notes/1/3/
RTR2LP34edit.jpg
Yolo-Retrain-1/
res-01-US_tracked.mp4
vric/
VeRi/
trajectories2.pkl

